body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://million-wallpapers.ru/wallpapers/6/18/549723467415552.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Raleway', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.x-transparent{
    background-color: #08203c33 !important;
}

.x-logo{
    font-size: 300%;
}

.x-info{
    font-size: 150%;
}

.x-color{
    color: #58a1ff;
}

.x-content{
    margin-top: 25rem;
}

.x-btn-outline-primary {
    color: #58a1ff;
    border-color: #58a1ff;
}

.btn:hover{
    color: white !important;
}

.x-buy-card{
    height: 60%;
}

#x-container {
    height: 100vh;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inviteContainer {
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
#inviteContainer .acceptContainer {
    padding: 45px 30px;
    box-sizing: border-box;
    width: 400px;
}
#inviteContainer .acceptContainer:before {
    content: "";
    background-size: cover !important;
    box-shadow: inset 0 0 0 3000px rgba(40, 43, 48, .75);
    filter: blur(10px);
    position: absolute;
    width: 150%;
    height: 150%;
    top: -50px;
    left: -50px;
}
form {
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    height: 100%;
}
form h1 {
    margin: 0 0 15px 0;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}
form .serverInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}
form .serverInfo .img {
    background: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
form .serverInfo .img img {
    width: 75%;
}
form .serverInfo p {
    padding-left: 10px;
    padding-top: 15px;
    color: #fff;
}
form .serverInfo p span {
    font-weight: 600;
}
form .serverInfo p .by {
    padding-left: 5px;
    font-size: 12px;
    opacity: 0.7;
}
form .serverInfo p .name {
    padding-left: 5px;
    font-size: 12px;
}
.logoContainer {
    padding: 45px 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logoContainer img {
    width: 150px;
    margin-bottom: -5px;
    display: block;
    position: relative;
}
.logoContainer .text {
    padding: 25px 0 10px 0;
}
.logoContainer:before {
    content: "";
    background-size: cover !important;
    position: absolute;
    top: -50px;
    left: -50px;
    width: 150%;
    height: 150%;
    filter: blur(10px);
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.8);
}
.acceptBtn {
    width: 100%;
    box-sizing: border-box;
    background: #7289da;
    border: none;
    color: #fff;
    padding: 15px 0;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration: none;
}
.acceptBtn:hover {
    background: #6b7fc5;
    text-decoration: none;
    color: #fff;
}

.x-footer{
    height: 300%;
}